.table-container>h2 {
  text-align: center;
  margin: 20px 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top: 10px;

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
}

.active {
  background: #f4f4f4;
}